@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Be Vietnam", sans-serif;
}

body {
  font-family: "Be Vietnam", sans-serif;
}

video::-webkit-media-controls-start-playback-button {
  display: none;
}

h1 {
  font-weight: 400;
  font-size: 30px;
}

#landing {
  position: relative;
  height: 100vh;
  width: 100%;
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.video-container video {
  min-width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: -1;
}

.navbar {
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 2em;
}

.brand-title {
  width: 400px;
}

.brand-title a img {
  width: 100%;
}

@media (max-width: 520px) {
  .brand-title {
    width: 160px;
  }
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  text-decoration: none;
  padding: 1rem;
  display: block;
  color: white;
}

.navbar-links li a:hover {
  color: grey;
}

.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 60px;
  height: 60px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.toggle-button-burger {
  width: 30px;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.toggle-button-burger::before,
.toggle-button-burger::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.toggle-button-burger:before {
  -webkit-transform: translateY(-12px);
  transform: translateY(-12px);
}

.toggle-button-burger:after {
  -webkit-transform: translateY(12px);
  transform: translateY(12px);
}

/* Animation */
.toggle-button.open .toggle-button-burger {
  -webkit-transform: translateX(-50px);
  transform: translateX(-50px);
  background: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.toggle-button.open .toggle-button-burger::before {
  -webkit-transform: rotate(45deg) translate(35px, -35px);
  transform: rotate(45deg) translate(35px, -35px);
}

.toggle-button.open .toggle-button-burger::after {
  -webkit-transform: rotate(-45deg) translate(35px, 35px);
  transform: rotate(-45deg) translate(35px, 35px);
}

@media (max-width: 1000px) {
  .toggle-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .toggle-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar-links {
    display: none;
    width: 100%;
  }
  .navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    background-color: black;
  }
  .navbar-links ul {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .navbar-links li {
    text-align: center;
  }
  .navbar-links.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

#about {
  background-color: #f2fbff;
}

#about .container h1 {
  margin: 0;
  text-align: center;
  font-size: 30px;
  padding: 1.2rem;
}

.about-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 16px;
}

.about-copy {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  padding: 0rem 1.2rem;
}

.about-img-container {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  padding: 2rem;
}

.about-img-container img {
  height: auto;
  width: 100%;
}

@media (max-width: 1200px) {
  .about-container {
    margin: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

#upcoming-events {
  background-color: #deeaeb;
  padding-bottom: 60px;
  margin-top: -1rem;
}

#upcoming-events .container {
  text-align: center;
  margin: auto;
  width: 80%;
}

#upcoming-events .container h1 {
  padding: 2rem;
}

.event-imgs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  width: 100%;
  overflow: hidden;
  margin: auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
}

.event-imgs * {
  /* margin: 4px; */
  padding: 1px;
}

.card-front img {
  height: 280px;
  width: 100%;
}

.card-container {
  background-color: transparent;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  width: 280px;
  height: 280px;
}

.card-container-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-transition: -webkit-transform 0.8s;
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.card-container:active .card-container-inner,
.card-container:hover .card-container-inner {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-front {
  color: black;
}

.card-back {
  color: white;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: auto;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 0.8rem;
}

.card-back img {
  height: 100px;
  width: 100px;
}

.card-back.one {
  background-color: #252a45;
}

.card-back.two {
  background-color: #5d8490;
}

.card-back.three {
  background-color: #708b61;
}

.card-back.four {
  background-color: #303b77;
}

#podcasts {
  text-align: center;
}

#podcasts h1 {
  margin: 2rem;
}

.podcast-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 1rem;
  position: relative;
  color: #ffffff;
}

.player-container {
  position: relative;
  width: 650px;
  height: 100px;
  background-color: #252a45;
  margin: 1rem;
}

.podcast-container.landing {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 460px;
  top: 60%;
  right: 100px;
  padding: 1rem;
}

.podcast-container.landing .player-container {
  margin: 10px 10px;
  width: 100%;
}

.podcast-container.landing .nav-container {
  position: absolute;
  -ms-grid-columns: 5% 20% 55% 7% 13%;
  grid-template-columns: 5% 20% 55% 7% 13%;
  display: -ms-grid;
  display: grid;
  font-size: 0.8rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 90%;
}

.podcast-container.landing .time,
.podcast-container.landing .player-download {
  display: none;
}

.podcast-container.landing .player-container,
.podcast-container.landing .progress-container {
  background-color: #708b61;
}

.podcast-container.landing .nav-container {
  padding-bottom: 10px;
}

.player-container a {
  text-decoration: none;
  color: white;
}

@media (max-width: 630px) {
  .progress-container {
    width: inherit;
  }
  .podcast-container.landing {
    position: sticky;
    display: block;
    top: 60%;
    width: 90%;
    right: unset;
    margin: auto;
  }
  .podcast-container.landing .player-container {
    margin: 10px 0;
  }
}

.podcast-container .nav-container {
  position: absolute;
  -ms-grid-columns: 5% 20% 55% 7% 13%;
  grid-template-columns: 5% 20% 55% 7% 13%;
  display: -ms-grid;
  display: grid;
  font-size: 16px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 90%;
  padding: 0.8rem;
}

.podcast-container.landing .nav-container {
  position: absolute;
  -ms-grid-columns: 15% 6% 10% 5%;
  grid-template-columns: 15% 65% 10% 5%;
  display: -ms-grid;
  display: grid;
  font-size: 0.8rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 90%;
  padding: 0.8rem;
}

@media (max-width: 630px) {
  .nav-container * {
    padding: 1px;
    font-size: 0.9rem;
  }
  .player-btn .fa-play,
  .player-btn .fa-pause,
  .fas.fa-volume-up,
  .fa.fa-volume-mute {
    font-size: 1.1rem;
  }

  .nav-container img {
    height: 30px;
  }

  .podcast-container.bottom .player-container .nav-container {
    -ms-grid-columns: 20% 60% 20%;
    grid-template-columns: 20% 60% 20%;
  }

  .podcast-container.bottom .player-container .time,
  .podcast-container.bottom .player-container .player-download {
    display: none;
  }
}

.player-btn {
  cursor: pointer;
}

.player-btn .fa-pause {
  display: none;
}

.vol {
  cursor: pointer;
}

.nav-container img {
  height: 30px;
}

.nav-container h4 {
  font-weight: 200;
}

.fa.fa-volume-mute {
  display: none;
}

.progress-container {
  background-color: #252a45;
  text-align: left;
  height: 10px;
  width: 100%;
  cursor: pointer;
}

@media (max-width: 400px) {
  .time {
    display: none;
  }
}

.progress {
  background-color: #4db1d0;
  height: 10px;
  width: 0%;
}

#progress-1 {
  background-color: #4db1d0;
  height: 10px;
  width: 0%;
}

.time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

#contact {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#contact .container {
  display: block;
  text-align: center;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#ffffff),
    color-stop(20%, #ffffff),
    color-stop(20%, #cdd5c8),
    to(#cdd5c8)
  );
  background: linear-gradient(
    to bottom,
    #ffffff 0%,
    #ffffff 20%,
    #cdd5c8 20%,
    #cdd5c8 100%
  );
}

.container-img {
  display: block;
  margin: auto;
  width: 200px;
}

#contact .container img {
  display: block;
  margin: auto;
  max-width: 100%;
  height: auto;
}

@media (max-width: 400px) {
  #contact-img {
    height: 150px;
  }
}

#contact a button {
  text-decoration: none;
  width: 200px;
  height: 40px;
  background-color: #708b61;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin-top: 2rem;
  cursor: pointer;
}

button:hover {
  opacity: 0.7;
}

@media (max-width: 400px) {
  #contact .container * {
    width: 70%;
  }
  #contact button {
    width: 70%;
  }

  .social .column {
    margin: 0px;
  }
}

.social {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 5em;
  color: white;
  margin: auto;
  cursor: pointer;
}

.social .column {
  margin: 0.5rem;
  margin-bottom: 100px;
  width: 70px;
  height: 70px;
}

.social .column a {
  text-decoration: none;
}

.social .column .fab {
  font-size: 2rem;
  width: 100%;
  height: 100%;
  padding: 1rem;
  background-color: #252a45;
  color: white;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
}

.fab:hover {
  opacity: 0.7;
}
/*# sourceMappingURL=style.css.map */
